{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div id="branding" style="margin-left: 100px">
  <h1 style="color: blue;">Welcome to LifeSport Store!</h1>
  <div id="storeDetail" style="margin-left: 50px">
    <p id="pid">
      We sell excellent men's and women's wear at unbeatable prices. Moreover, we sell sports equipments to keep
      you fit and healthy at home. Brows through our website and shop securely and fast.
    </p>
  </div>
  <div id="contactInfo">
    <label>Address: </label><p>221B Becker Street, Windsor, ON, N9B 6J4</p>
    <label>Phone: </label><p>(519)991-2634</p>
    <label>E-mail: </label><p>customercare@lifesports.com</p>
  </div>
</div>
</div>
{% endblock %}
